<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>{%- block title -%}
    {%- if page -%}
      {%- if page.seo_title -%}
        {{ page.seo_title }}
      {%- else -%}
        {{ page.translated_title }}
      {%- endif -%}
    {%- endif -%}
    {%- endblock -%}{%- block title_suffix -%}{%- endblock -%}: lang-uk</title>
  <meta name="description" content="{%- block description -%}
    {%- if page -%}
    {{ page.search_description }}
    {%- endif -%}
    {%- endblock -%}"/>
<!--   <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""/>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet"/> -->
  <link rel="shortcut icon" href="{{ static('img/favicon.ico') }}" type="image/x-icon"/>
  <link rel="stylesheet" href="{{ static('css/opensans.css') }}"/>
  <link rel="stylesheet" href="{{ static('css/main.css') }}"/>
  {% for lang_code, lang_name in LANGUAGES %}
      {% if lang_code != LANGUAGE_CODE %}
          {% if page %}
              {% language lang_code %}
              <link rel="alternate" href="{{ pageurl(page) }}" hreflang="{{ lang_code }}" />
              {% endlanguage %}
          {% endif %}
      {% endif %}
  {% endfor %}

  {% block extra_css %}
  {% endblock %}
</head>