{% from "_macros/ui.html" import search_form %}
  <header class="header">
    <div class="header__container">
      <div class="header-logo"><a href="{{ pageurl(root_page) }}"><img class="header-logo__logo" src="{{ static('img/logo.svg') }}" alt="lang uk"/></a></div>
      <div class="header__navigation">
        {{ lang_uk_menu(template="_includes/main_menu.html")|safe }}
        <div class="navigation-action">
          <div class="navigation-action__item lang">
            <a class="lang__item" href="#">{{ LANGUAGES_DICT[LANGUAGE_CODE] }}<span class="lang-arrow"><svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1L5 5L1 0.999999" stroke="black" stroke-width="2" stroke-linecap="round"/></svg></span></a>{% for lang_code, lang_name in LANGUAGES -%}
              {% if lang_code != LANGUAGE_CODE -%}{% language lang_code %}<a class="lang__item lang-en" href="{% if page %}{{ pageurl(page) }}{% else %}{{ switch_lang_url(lang_code) }}{% endif %}">{{ lang_name }}</a>
                {% endlanguage %}
              {%- endif %}
            {%- endfor %}
          </div>
          <div class="navigation-action__item">
            {{ search_form() }}
          </div>
          <div class="navigation-action__item"><a class="button button-wave button-wave--produckt" href="{{ submit_product_url() }}">{{ _("Доповнити продукт") }}</a></div>
        </div>
      </div>
      {{ search_form(css_class="search-form--mobile") }}
      <div class="header__burger-wrap">
        <button class="header__burger"><span class="header__burger-line"></span><span class="svg-burger"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.92857 10V6.82081L1.07143 8.41041L0 6.5896L2.82738 5L0 3.4104L1.07143 1.5896L3.92857 3.17919V0H6.10119V3.17919L8.92857 1.5896L10 3.4104L7.17262 5L10 6.5896L8.92857 8.41041L6.10119 6.82081V10H3.92857Z" fill="#FF3F3F"/>
</svg>
</span></button>
      </div>
    </div>
  </header>
