  <header class="header">
    <div class="header__container">
      <div class="header-logo"><a href="index.html"><img class="header-logo__logo" src="{{ static('img/logo.svg') }}" alt="lang uk"/></a></div>
      <div class="header__navigation">
        <nav class="navigation"><span class="navigation__item"><span class="navigation__link navigation__link--toggle underline-animation" href="products.html">Продукти<span class="svg"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.92857 10V6.82081L1.07143 8.41041L0 6.5896L2.82738 5L0 3.4104L1.07143 1.5896L3.92857 3.17919V0H6.10119V3.17919L8.92857 1.5896L10 3.4104L7.17262 5L10 6.5896L8.92857 8.41041L6.10119 6.82081V10H3.92857Z" fill="#FF3F3F"/>
</svg>
</span><span class="arrow"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.66699 5.33334L8.00033 12L13.3337 5.33334" stroke="black" stroke-width="2.66667" stroke-linecap="round"/>
</svg></span></span>
            <div class="navigation__sub">
              <ul class="sub__navigation--list">
                <li class="sub__navigation--item"><a class="navigation__link underline-animation" href="services.html">Сервіси<span class="svg"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.92857 10V6.82081L1.07143 8.41041L0 6.5896L2.82738 5L0 3.4104L1.07143 1.5896L3.92857 3.17919V0H6.10119V3.17919L8.92857 1.5896L10 3.4104L7.17262 5L10 6.5896L8.92857 8.41041L6.10119 6.82081V10H3.92857Z" fill="#FF3F3F"/>
</svg>
</span></a>
                  <div class="card__icon"><svg width="25" height="21" viewBox="0 0 25 21" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M24.3192 19.5097L18.5313 9.99957L12.4218 19.7591L6.64232 10.249L1.00303 19.9991" stroke="black"/>
<path d="M24.3211 10.51L18.5317 0.999939L12.4237 10.7594L6.64278 1.24939L1.005 10.9995" stroke="black"/>
</svg>

                  </div>
                </li>
                <li class="sub__navigation--item"><a class="navigation__link underline-animation" href="services.html">Моделі</a>
                  <div class="card__icon"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="0.707107" y="12" width="15.9706" height="15.9706" transform="rotate(-45 0.707107 12)" stroke="black"/>
<rect x="7.79304" y="12" width="5.98601" height="5.98601" transform="rotate(-45 7.79304 12)" stroke="black"/>
</svg>

                  </div>
                </li>
                <li class="sub__navigation--item"><a class="navigation__link underline-animation" href="services.html">Бібліотеки</a>
                  <div class="card__icon"><svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="8.92732" y="8" width="10.3137" height="10.3137" transform="rotate(-45 8.92732 8)" stroke="black"/>
<rect x="0.707107" y="8" width="10.3137" height="10.3137" transform="rotate(-45 0.707107 8)" stroke="black"/>
</svg>

                  </div>
                </li>
                <li class="sub__navigation--item"><a class="navigation__link underline-animation" href="services.html">Словники</a>
                  <div class="card__icon"><svg width="27" height="16" viewBox="0 0 27 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M13.844 11.5L19.5 1.0504L25.156 11.5H13.844Z" stroke="black"/>
<path d="M1.84398 11.5L7.5 1.0504L13.156 11.5L1.84398 11.5Z" stroke="black"/>
</svg>

                  </div>
                </li>
                <li class="sub__navigation--item"><a class="navigation__link underline-animation" href="services.html">Корпуси<span class="svg"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.92857 10V6.82081L1.07143 8.41041L0 6.5896L2.82738 5L0 3.4104L1.07143 1.5896L3.92857 3.17919V0H6.10119V3.17919L8.92857 1.5896L10 3.4104L7.17262 5L10 6.5896L8.92857 8.41041L6.10119 6.82081V10H3.92857Z" fill="#FF3F3F"/>
</svg>
</span></a>
                  <div class="card__icon"><svg width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="0.707107" y="9.8335" width="12.9066" height="12.9066" transform="rotate(-45 0.707107 9.8335)" stroke="black"/>
<rect x="3.31453" y="16.625" width="9.42993" height="9.42993" transform="rotate(-45 3.31453 16.625)" fill="white" stroke="black"/>
</svg>

                  </div>
                </li>
                <li class="sub__navigation--item"><a class="navigation__link underline-animation" href="services.html">Газетіри</a>
                  <div class="card__icon"><svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0.353623 4.80793L0 5.16963L0.349392 5.53582L5.13712 10.5537L0.353781 15.5782L0.00902288 15.9403L0.353781 16.3024L4.78976 20.962L5.47927 20.2378L1.38805 15.9403L5.82741 11.2772L11.2437 16.9538L11.5889 17.3156L11.9341 16.9538L17.3417 11.2863L21.7723 15.9403L17.6811 20.2378L18.3706 20.962L22.8065 16.3024L23.1513 15.9403L22.8065 15.5782L18.0319 10.5629L22.8284 5.53582L23.1736 5.17406L22.8284 4.81231L18.3873 0.157663L17.6969 0.881166L21.7929 5.17406L17.3424 9.83855L11.9249 4.14799L11.5802 3.78586L11.2354 4.14799L5.82667 9.82938L1.3891 5.1785L5.73607 0.732265L5.05422 0L0.353623 4.80793ZM6.51696 10.5528L11.5889 15.8686L16.6521 10.562L11.5802 5.2344L6.51696 10.5528Z" fill="black"/>
</svg>

                  </div>
                </li>
              </ul>
            </div></span><span class="navigation__item"><a class="navigation__link underline-animation" href="about-us.html">Про нас</a></span><span class="navigation__item"><a class="navigation__link underline-animation active" href="manifest.html">Маніфест</a></span><span class="navigation__item"><a class="navigation__link underline-animation" href="contact-us.html">Контакти</a></span></nav>
        <div class="navigation-action">
          <div class="navigation-action__item lang"><a class="lang__item" href="#">UA<span class="lang-arrow"><svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9 1L5 5L1 0.999999" stroke="black" stroke-width="2" stroke-linecap="round"/>
</svg>
</span></a><a class="lang__item lang-en" href="#">EN</a></div>
          <div class="navigation-action__item">
            <form class="search-form" action="/search-result.html">
              <div class="search-form__wrapper">
                <input class="search-form__input" name="search" type="text" placeholder="Пошук" autocomplete="off"/>
                <div class="search-form__result">
                  <ul>
                    <li><a class="text-m" href="search-result.html">Мікро <b>сервіс</b> NLP_UK</a></li>
                    <li><a class="text-m" href="">Мікро<b>сервіс</b> NER</a></li>
                    <li><a class="text-m" href="">Мікро<b>сервіс</b> розпізнавання мови (WILD)</a></li>
                    <li><a class="text-m" href="">Веб-<b>сервіс</b> оцінки когерентності тексту</a></li>
                  </ul>
                </div>
              </div>
              <button class="search-form__button" type="submit"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.25 18C14.9779 18 18 14.9779 18 11.25C18 7.52208 14.9779 4.5 11.25 4.5C7.52208 4.5 4.5 7.52208 4.5 11.25C4.5 14.9779 7.52208 18 11.25 18Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M23.2484 22.5L16.6484 16.65" stroke="black" stroke-width="2" stroke-linejoin="round"/>
</svg>

              </button>
            </form>
          </div>
          <div class="navigation-action__item"><a class="button button-wave button-wave--produckt" href="add-product.html">Доповнити продукт</a></div>
        </div>
      </div>
      <form class="search-form search-form--mobile" action="/search-result.html">
        <div class="search-form__wrapper">
          <input class="search-form__input" name="search" type="text" placeholder="Пошук" autocomplete="off"/>
          <div class="live-search search-form__result">
            <ul>
              <li><a class="text-m" href="search-result.html">Мікро <b>сервіс</b> NLP_UK</a></li>
              <li><a class="text-m" href="">Мікро<b>сервіс</b> NER</a></li>
              <li><a class="text-m" href="">Мікро<b>сервіс</b> розпізнавання мови (WILD)</a></li>
              <li><a class="text-m" href="">Веб-<b>сервіс</b> оцінки когерентності тексту</a></li>
            </ul>
          </div>
        </div>
        <button class="search-form__button" type="submit"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.25 18C14.9779 18 18 14.9779 18 11.25C18 7.52208 14.9779 4.5 11.25 4.5C7.52208 4.5 4.5 7.52208 4.5 11.25C4.5 14.9779 7.52208 18 11.25 18Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M23.2484 22.5L16.6484 16.65" stroke="black" stroke-width="2" stroke-linejoin="round"/>
</svg>

        </button>
      </form>
      <div class="header__burger-wrap">
        <button class="header__burger"><span class="header__burger-line"></span><span class="svg-burger"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.92857 10V6.82081L1.07143 8.41041L0 6.5896L2.82738 5L0 3.4104L1.07143 1.5896L3.92857 3.17919V0H6.10119V3.17919L8.92857 1.5896L10 3.4104L7.17262 5L10 6.5896L8.92857 8.41041L6.10119 6.82081V10H3.92857Z" fill="#FF3F3F"/>
</svg>
</span></button>
      </div>
    </div>
  </header>
