  <header class="header">
    <div class="header__container">
      <div class="header-logo"><a href="{{ pageurl(root_page) }}"><img class="header-logo__logo" src="{{ static('img/logo.svg') }}" alt="lang uk"/></a></div>
      <div class="header__navigation">
        {{ lang_uk_menu(template="_includes/main_menu.html")|safe }}
        <div class="navigation-action">
          <div class="navigation-action__item lang">
            <a class="lang__item" href="#">{{ LANGUAGES_DICT[LANGUAGE_CODE] }}<span class="lang-arrow"><svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1L5 5L1 0.999999" stroke="black" stroke-width="2" stroke-linecap="round"/></svg></span></a>{% for lang_code, lang_name in LANGUAGES -%}
              {% if lang_code != LANGUAGE_CODE -%}{% language lang_code %}<a class="lang__item lang-en" href="{{ pageurl(page) }}">{{ lang_name }}</a>
                {% endlanguage %}
              {%- endif %}
            {%- endfor %}
          </div>
          <div class="navigation-action__item">
            <form class="search-form" action="/search-result.html">
              <div class="search-form__wrapper">
                <input class="search-form__input" name="search" type="text" placeholder="Пошук" autocomplete="off"/>
                <div class="search-form__result">
                  <ul>
                    <li><a class="text-m" href="search-result.html">Мікро <b>сервіс</b> NLP_UK</a></li>
                    <li><a class="text-m" href="">Мікро<b>сервіс</b> NER</a></li>
                    <li><a class="text-m" href="">Мікро<b>сервіс</b> розпізнавання мови (WILD)</a></li>
                    <li><a class="text-m" href="">Веб-<b>сервіс</b> оцінки когерентності тексту</a></li>
                  </ul>
                </div>
              </div>
              <button class="search-form__button" type="submit"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.25 18C14.9779 18 18 14.9779 18 11.25C18 7.52208 14.9779 4.5 11.25 4.5C7.52208 4.5 4.5 7.52208 4.5 11.25C4.5 14.9779 7.52208 18 11.25 18Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M23.2484 22.5L16.6484 16.65" stroke="black" stroke-width="2" stroke-linejoin="round"/>
</svg>

              </button>
            </form>
          </div>
          <div class="navigation-action__item"><a class="button button-wave button-wave--produckt" href="add-product.html">Доповнити продукт</a></div>
        </div>
      </div>
      <form class="search-form search-form--mobile" action="/search-result.html">
        <div class="search-form__wrapper">
          <input class="search-form__input" name="search" type="text" placeholder="Пошук" autocomplete="off"/>
          <div class="live-search search-form__result">
            <ul>
              <li><a class="text-m" href="search-result.html">Мікро <b>сервіс</b> NLP_UK</a></li>
              <li><a class="text-m" href="">Мікро<b>сервіс</b> NER</a></li>
              <li><a class="text-m" href="">Мікро<b>сервіс</b> розпізнавання мови (WILD)</a></li>
              <li><a class="text-m" href="">Веб-<b>сервіс</b> оцінки когерентності тексту</a></li>
            </ul>
          </div>
        </div>
        <button class="search-form__button" type="submit"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.25 18C14.9779 18 18 14.9779 18 11.25C18 7.52208 14.9779 4.5 11.25 4.5C7.52208 4.5 4.5 7.52208 4.5 11.25C4.5 14.9779 7.52208 18 11.25 18Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M23.2484 22.5L16.6484 16.65" stroke="black" stroke-width="2" stroke-linejoin="round"/>
</svg>

        </button>
      </form>
      <div class="header__burger-wrap">
        <button class="header__burger"><span class="header__burger-line"></span><span class="svg-burger"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.92857 10V6.82081L1.07143 8.41041L0 6.5896L2.82738 5L0 3.4104L1.07143 1.5896L3.92857 3.17919V0H6.10119V3.17919L8.92857 1.5896L10 3.4104L7.17262 5L10 6.5896L8.92857 8.41041L6.10119 6.82081V10H3.92857Z" fill="#FF3F3F"/>
</svg>
</span></button>
      </div>
    </div>
  </header>