{% extends "bachoo_base.html" %}

{% block page_content %}
    <div class="article">
      <div class="article__content">
        <p class="h0">404</p>
        <p class="h2">{{ _("Сторінку не знайдено") }}</p>
        <p class="text-l">{{ _("Схоже, такої сторінки не існує. Спробуйте почати з головної або скористайтеся пошуком.") }}</p>
        <p><img src="{{ static('img/error_404.svg') }}" alt="404" style="max-width: 100%;"/></p>
        <p>
          <a class="button button-wave" href="/">{{ _("На головну") }}</a>
        </p>
      </div>
    </div>
{% endblock %}
