psycopg2-binary
wagtail==2.15.2
Django==3.2.11
git+https://github.com/TwilioDevEd/wagtailtinymce.git
gunicorn==20.1.0
raven==6.10.0
pymongo==3.11.4
Jinja2==3.0.1
python-dateutil==2.8.1
Markdown==3.3.4
django-task==2.0.0
django-rq==2.4.1
django-redis-cache==3.0.0
dependencies/ufal.udpipe-1.2.0.1.tar.gz