psycopg2-binary==2.9.5
wagtail==4.2.2
Django==4.1.8
git+https://github.com/TwilioDevEd/wagtailtinymce.git
gunicorn==20.1.0
raven==6.10.0
pymongo==4.3.3
Jinja2==3.0.2
python-dateutil==2.8.2
Markdown==3.4.1
django-task==2.0.5
django-rq==2.6.0
django-redis-cache==3.0.1
dependencies/ufal.udpipe-1.2.0.1.tar.gz
gcld3==3.0.13
wagtailmenus==3.1.3