{% extends "bachoo_base.html" %}

{% block page_content %}
{% include "common/breadcrumbs.html" %}
<!-- contact-us/info-contact.pug-->
<div class="contact-us">
    <div class="contact__content">
        <div class="h0">{{ page.translated_title }}</div>
        <div class="contact">
            <div class="contact__item"><span class="h4">e:</span><a class="h3"
                    href="mailto:{{ settings.home.GenericSiteSettings.email }}">{{ settings.home.GenericSiteSettings.email }}</a></div>
            <div class="contact__item"><span class="h4">t:</span><a class="h3" href="tel:{{ settings.home.GenericSiteSettings.phone }}">{{ settings.home.GenericSiteSettings.phone }}</a></div>
            <div class="contact__item"><svg width="18" height="15" viewBox="0 0 18 15" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M5.99694 9.44478L5.96556 9.16239L5.7069 9.04482L1.28725 7.03588L17.2977 0.80961L14.177 14.1838L10.2774 11.584L10.0359 11.423L9.77639 11.5528L6.41776 13.2321L5.99694 9.44478Z"
                        fill="black" stroke="black" />
                </svg>
                <a class="h3" href="{{ settings.home.GenericSiteSettings.telegram }}">@nlp_uk</a>
            </div>
        </div>
    </div>
</div>
<!-- /contact-us/info-contact.pug-->
<!-- contact-us/form-contact.pug-->
<div class="contact__form">
    <div class="form__content">
        {{ page.translated_body|safe }}

        <form class="form" action="" method="POST">
            {{ csrf_input }}

            <div class="contact-input">
                {{ form.author }}
                {% if form.author.errors %}
                    <span class="caption-2">{{ form.author.errors }}</span>
                {% endif %}
            </div>

            <div class="contact-input">
                <div class="input__contact">
                    <div class="input__contact-item">
                        {{ form.phone }}
                        {% if form.phone.errors %}
                            <span class="caption-2">{{ form.phone.errors }}</span>
                        {% endif %}
                    </div>
                    <div class="input__contact-item">
                        {{ form.email }}
                        {% if form.email.errors %}
                            <span class="caption-2">{{ form.email.errors }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="contact-input">
                <p class="text-m">{{ form.text.label_tag(label_suffix="") }}</p>
                {{ form.text }}
                {% if form.text.errors %}
                    <span class="caption-2">{{ form.text.errors }}</span>
                {% endif %}
            </div>
            {% if form.captcha.errors %}
                <div class="contact-input">
                    <span class="caption-2">{{ form.captcha.errors }}</span>
                </div>
            {% endif %}
            <button class="button button-wave spacer__item" type="submit">{{ _("Надіслати") }}</button>
            {{ form.captcha }}
        </form>
    </div>
</div>
<!-- /contact-us/form-contact.pug-->

{% endblock %}